<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Image</th>
            <th scope="col">User_id</th>
            <th scope="col">Album_id</th>
            <th scope="col">Created_at</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item['id']}}</td>
            <td><img style="height: 100px; width: 100px;" src="../../../../assets/images/{{item['thumbnail']}}" alt=""></td>
            <td>{{item['user_id']}}</td>
            <td>{{item['album_id']}}</td>
            <td>{{item['careted_at']}}</td>         
            <td><button class="btn btn-success" routerLink="../editGallery/{{item['id']}}">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteGallery(item.id)" >Delete</button></td>
        </tr>

    </tbody>
</table>