 <!-- Top Bar : Start -->
 <header>
    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-md navigation">
      <div class="container">
        <a class="navbar-brand" href="../">
          <img src="../assets/images/logo.jpg" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/ourblog']">Our Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="aboutUs">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contactUs">Contact Us</a>
            </li>
           </ul> 
        </div>
        <div class="header-icons">
          <a href="javascript:void(0);">
            <img src="../assets/images/search-icon.svg" alt="" />
          </a>
          <a href="javascript:void(0);">
            <span class="cart-value">2</span>
            <img src="../assets/images/cart-icon.svg" alt="" />
          </a>
          <a routerLink="login"  *ngIf="!firstname">
            <img src="../assets/images/user-icon.svg" alt="" />
          </a>
          <a routerLink="event">
            <img src="../assets/images/calender.png" alt="" />
          </a>
          <a routerLink="album">
            <img src="../assets/images/gallery.jpeg" alt="" />
          </a>
          <a *ngIf="firstname">
            <img  src="../assets/images/logout.png" alt="" (click)="Logout()"/>
          </a>
          <a routerLink="userProfile" *ngIf="firstname">
            {{firstname}} {{lastname}}
          </a>
        </div>
      </div>
    </nav>
  </header>
  <!-- Top Bar : End -->
  <router-outlet></router-outlet>