<!-- Our Blog : Start -->
<section class="our-blog-wrapper">
    <div class="container" >
      <div class="row">
        <div class="col-md-4" *ngFor="let item of data">
          <div class="blog-box" routerLink="/blogdetails/{{item['id']}}" >
            <figure class="blog-img">
              <img src="../assets/images/{{item['thumbnail']}}" class="img-fluid" alt="" />
            </figure>
            <div class="blog-text">
              <div class="blog-date">{{item['created_at']}}</div>
              <h3 class="blog-heading"><a href="#">{{item['title']}}</a></h3>
              <a href="javascrpit:void(0);" class="read-more">Read More</a>
            </div>
          </div>
        </div>
   
      </div>
    </div>
  </section>
  <!-- Our Blog : End -->