<div class="form_wrapper  rounded shadow " >
    <div class="form_container">
        <div class="title_container">
            <h2>Registration Form</h2>
        </div>
        <div class="row clearfix">
            <div class="error">{{msg}}</div>
            <div class="">
                <form #simpleForm="ngForm"  (ngSubmit)="getValues(simpleForm.value)" >
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input ngModel type="text" name="firstname" minlength="2"  placeholder="First Name" required  #firstname="ngModel" />
                            </div>
                            <span *ngIf="firstname.errors && (firstname.touched||firstname.dirty)" class ="error">
                                <span *ngIf="firstname.errors?.required"> First Name required </span>
                                <span *ngIf="firstname.errors?.minlength"> First Name required atleast 2 characters </span>
                            </span>
                        </div>
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input ngModel type="text" name="lastname" minlength="2"  placeholder="Last Name" required #lastname="ngModel" />
                            </div>
                            <span *ngIf="lastname.errors && (lastname.touched||lastname.dirty)" class ="error">
                                <span *ngIf="lastname.errors?.required"> Last name required </span>
                                <span *ngIf="lastname.errors?.minlength"> Last Name required atleast 2 characters </span>
                            </span>
                        </div>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input ngModel type="email" name="email"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" required #email="ngModel" />
                    </div>
                    <span *ngIf="email.errors && (email.touched||email.dirty)" class ="error">
                        <span *ngIf="email.errors?.required"> Email required </span>
                        <span *ngIf="email.errors?.pattern">  Please input a valid email.</span>
                    </span>
                    <div >
                        Gender:
                        <select ngModel name="gender" id=gender required #gender="ngModel">
                        <option></option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                         <option value="trans-gender">Trans-gender</option>
                        </select>
                    </div><br>
                    <span *ngIf="gender.invalid && gender.touched" class ="error">Gender is required</span>
                    
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                 
                  <input ngModel type="password" name="password"  pattern=".*(?=.{3,})(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\d\x])(?=.*[!@$#%]).*$" placeholder="Password" required #password="ngModel" />
                    </div>
                    <span *ngIf="password.errors && (password.touched||password.dirty)" class ="error">
                        <span *ngIf="password.errors?.required"> Password required </span>
                        <span *ngIf="password.errors?.pattern"> Please enter a valid </span>
                    </span>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input ngModel type="password" pattern="{{password.value}}" name="confirm_password" placeholder="Re-type Password" required #confirm_password="ngModel" />
                    </div>
                    <span *ngIf="confirm_password.errors && (confirm_password.touched||confirm_password.dirty)" class ="error">
                        <span *ngIf="confirm_password.errors?.required"> confirm_password required </span>
                        <span *ngIf="confirm_password.errors?.pattern"> password does not match</span>

                        <span ></span>
                       

                    </span>
            
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">I agree with terms and conditions</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">I want to receive the newsletter</label>
                    </div>
                    <input class="button" type="submit" [disabled]="simpleForm.invalid" value="Register" />
                </form>
                <div class="signin">
                    <p>Already have an account? <a [routerLink]="['/login']">Sign in</a>.</p>
                  </div>
            </div>
        </div>
    </div>
</div>