

 <!-- Three Boxes : Start -->
 <section class="three-boxes-wrapper">
  <div class="container" >
    
    <div class="row" >
      <div class="col-md-4 text-center" *ngFor="let item of data">
        <a routerLink="categoryProduct/{{item['id']}}">
         
        <div class="box-col box-one">
          <div class="box-text">
            <h4>{{item.name}} </h4>
          </div>
          <figure class="box-img">
            <img src="../assets/{{item.image}}" class="img-fluid" alt="" />
          </figure>
        </div>
        </a>
      </div>
    
    </div>
  </div>
</section>
<!-- Three Boxes : End -->