<div class="login-box">
    <h2>Album form</h2>
    <form #simpleForm="ngForm"  (ngSubmit)="getValues(simpleForm.value)">
      <div class="user-box">
        <input type="text" ngModel name="name" required="">
        <label>AlbumName</label>
      </div>
      <!-- <div class="user-box">
        <input type="hidden" ngModel name="user_id" value="" required="">
       
      </div> -->
  
      <label>Created Date</label>
      <div class="user-box">
        <input type="date" ngModel name="created_at" required="">
      </div>
      
     <button  class="button" type="submit"   >Submit </button>
          
    </form>
  </div>
