<div class="form_wrapper rounded shadow" >
    <div class="form_container">
        <div class="title_container">
            <h2>Login Form</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form [formGroup]= "loginForm" (ngSubmit)="loginUser()">

                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" name="email" placeholder="Email" required formControlName="email"  />
                    </div>
                    <span class ="error" *ngIf="email && email.invalid && email.touched" > Please enter the email</span>
                    
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" name="password" placeholder="Password" required  formControlName="password" />
                    </div>
                    
                    <span class ="error" *ngIf="password && password.invalid && password.touched" > Please enter the password</span>

                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">I agree with terms and conditions</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">I want to receive the newsletter</label>
                    </div>
                    <input class="button btn-success" type="submit" value="Login" />
                    <div > 
                      <span>Not Having Acoount? Click Here</span>  <input routerLink="/registration" class="button btn-success" type="button" value="Registration" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
