<div class="login-box"  *ngFor="let item of data">
    <h2>Album form</h2>
    <form #simpleForm="ngForm"  (ngSubmit)="getValues(simpleForm.value)">
      <div class="user-box">
        <input type="text" ngModel="{{item['name']}}" name="name" required="" >
        <label>AlbumName</label>
      </div>
      <div class="user-box">
        <input type="text" ngModel="{{item['user_id']}}" name="user_id"  required="">
        <label>UserId</label>
       
      </div>
  
      <label>Updated Date</label>
      <div class="user-box">
        <input type="date" ngModel name="updated_at"  required="">
      </div>
      
     <button  class="button" type="submit"   >Submit </button>
          
    </form>
  </div>