<div class="flex">
  <div class="sidenav">

    <div class="dropdown">
      <button class="dropbtn">Album/Gallery</button>
      <div class="dropdown-content">
        <h5 routerLink="/album">View Album</h5>
        <h5 routerLink="./albumForm">AlbumForm</h5>
        <h5 routerLink="./galleryForm">GalleryForm</h5>
        <h5 routerLink="./albumTable">AlbumTable</h5>
        <h5 routerLink="./galleryTable">GalleryTable</h5>
      </div>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">User Manager </button>
      <div class="dropdown-content">
        <h5 routerLink="./profiles">UserProfiles</h5>
      </div>
    </div>

       
    <div class="dropdown">
      <button class="dropbtn">Blog Manager </button>
      <div class="dropdown-content">
        <h5 routerLink="./blogTable">BlogsTable</h5>
      </div>
    </div>

          
    <div class="dropdown">
      <button class="dropbtn">Product Manager </button>
      <div class="dropdown-content">
        <h5 routerLink="./productTable">ProductsTable</h5>
      </div>
    </div>


  </div>

  <div class="main">
    <h2>Admin Side</h2>
    <img src="../../../assets/images/admin.jpg">
  </div>
</div>