<div class="login-box" *ngFor="let item of data">
  <h2>Gallery form</h2>
  <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">



    <!-- <img style="height: 100px; width: 100px;   border-radius: 50%;;"
      src="../../../../assets/images/{{item['thumbnail']}}" alt="">
    <p style="color: wheat;">This is Data base Image You can it </p><br> -->

    <label>Gallery Image</label>
    <div class="user-box">
      <input type="file"  (change)="onSelectFile($event)" >
      <!-- <input type="hidden" name="thumbnail"  [(ngModel)]="item['thumbnail']"  > -->
    </div>



    <div class="user-box">
      <input type="text" ngModel name="user_id" ngModel="{{item['user_id']}}" required="">
      <label>UserId</label>

    </div>
    <div class="user-box">
      <input type="text" ngModel name="album_id" ngModel="{{item['album_id']}}" required="">
      <label>AlbumId</label>

    </div>

    <label>Updated Date</label>
    <div class="user-box">
      <input type="date" ngModel name="updated_at" required="">
    </div>

    <button class="button" type="submit">Submit </button>

  </form>
</div>