<div class="container">
  <div class="card">
    <div class="container-fliud" *ngFor="let item of data">
      <div class="wrapper row" >
        <div class="preview col-md-6">
          
          <div class="preview-pic tab-content">
            <div class="tab-pane active" ><img src="../../assets/images/{{item['image']}}" /></div> 
          </div>
          
        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{item['name']}}</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <h5 class="sizes">Short Desription:-{{item['short_description']}}</h5>
          <h5 class="sizes">Desciption:-</h5>
          <p class="product-description">{{item['description']}}</p>
          <h4 class="price">current price: <span>{{item['price']}}</span></h4>
          <div class="action">
            <button class="add-to-cart btn btn-primary" type="button">add to cart</button>
            <button class="like btn btn-danger" type="button"><span class="fa fa-heart"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>