<!-- <section class="three-boxes-wrapper">
    <div class="container">
      <div class="row">
        <div  class="col-md-4 text-center"  >

          <div class="example-box">

            <a routerLink="/galleryimage/{{item.id}}">

              <figure class="box-img">
                <img style="height: 100px; width: 100px;" src="../../assets/images/{{item.thumbnail}}" class="img-fluid"
                  alt="" />
              </figure>
              <div class="feature-text">
                <h4>{{ item['name'] }}</h4>
              </div>

            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->




<div class="album-container" >
  <div class="container">
      <ngx-sortable class="row" [items]="data" (listSorted)="listOrderChanged($event)">
        <ng-template let-item class="col-md-4"   ><a [routerLink]="['/album/',item.id]">
            <img src="../../assets/images/{{item.thumbnail}}" alt="IMG NOT FOUND"/>
            <div class="feature-text album-name">{{item.name}}</div>
      </a>
        </ng-template>
      </ngx-sortable>
    </div>
</div>