
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">name</th>
        <th scope="col">sku</th>
        <th scope="col">url</th>
        <th scope="col">price</th>
        <th scope="col">description</th>
        <th scope="col">short_description</th>
        <th scope="col">status</th>
        <th scope="col">image</th>
        <th scope="col">Category_id</th>
        <th scope="col">Featured</th>
        <th scope="col">Add</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td >{{item['id']}}</td>
        <td >{{item['name']}}</td>
        <td >{{item['sku']}}</td>
        <td >{{item['url']}}</td>
        <td >{{item['price']}}</td>
        <td >{{item['description']}}</td>
        <td >{{item['short_description']}}</td>
        <td >{{item['status']}}</td>
        <td ><img style="height: 100px; width: 100px;" src="../../../assets/images/{{item.image}}" alt=""></td>
        <td >{{item['cat_id']}}</td>
        <td >{{item['Featured']}}</td>

        
        <td><button class="btn btn-primary" routerLink="../productAdd">Add</button></td>
        <td><button class="btn btn-success" routerLink="../productUpdate/{{item['id']}}">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteData(item.id)" >Delete</button></td>
      </tr>
    
    </tbody>
  </table>