<div class="form_wrapper  rounded shadow ">
    <div class="form_container">
        <div class="title_container">
            <h2>Registration Form</h2>
        </div>
        <div class="row clearfix">

            <div class="" >
                <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">


                    <div class="user-box">
                        <label>Name</label>
                        <input type="text" ngModel name="name" required="">
                    </div>
 
                    <div class="user-box">
                        <label>sku</label>
                        <input type="text" ngModel name="sku" required="">
                    </div>

                    <div class="user-box">
                        <label>Url</label>
                        <input type="text" ngModel name="url" required="">
                    </div>
                   
                    <div class="user-box">
                        <label>price</label>
                        <input type="text" ngModel name="price" required="">
                    </div>
                    <div class="user-box">
                        <label>Description</label>
                        <input type="text" ngModel name="description" required="">
                    </div>
                    <div class="user-box">
                        <label>Short_description</label>
                        <input type="text" ngModel name="short_description" required="">
                    </div>
                    <div class="user-box">
                        <label>status</label>
                        <input type="text" ngModel name="status" required="">
                    </div>
                    <label> Image</label>
                    <div class="user-box">
                        <input type="file" (change)="onSelectFile($event)">
                        <!-- <input type="hidden" name="thumbnail"  [(ngModel)]="item['thumbnail']"  > -->
                    </div>
                    <div class="user-box">
                        <label>category_id</label>
                        <input type="text" ngModel name="category_id" required="">
                    </div>

                    <div class="user-box">
                        <label>featured</label>
                        <input type="text" ngModel name="featured" required="">
                    </div>

             

                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">I agree with terms and conditions</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">I want to receive the newsletter</label>
                    </div>
                    <input class="button" type="submit" value="submit" />
                </form>

            </div>
        </div>
    </div>
</div>