<div class="form_wrapper  rounded shadow ">
    <div class="form_container">
        <div class="title_container">
            <h2>Registration Form</h2>
        </div>
        <div class="row clearfix">

            <div class="" *ngFor="let item of data">
                <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">


                    <div class="user-box">
                        <label>User_id</label>
                        <input type="text" ngModel="{{item['user_id']}}" name="user_id" required="">
                    </div>

                    <div class="user-box">
                        <label>Category_id</label>
                        <input type="text" ngModel="{{item['category_id']}}" name="category_id" required="">
                    </div>

                    <div class="user-box">
                        <label>slug</label>
                        <input type="text" ngModel="{{item['slug']}}" name="slug" required="">
                    </div>

                    <div class="user-box">
                        <label>title</label>
                        <input type="text" ngModel="{{item['title']}}" name="title" required="">
                    </div>

                    <div class="user-box">
                        <label>status</label>
                        <input type="text" ngModel="{{item['status']}}" name="status" required="">
                    </div>

                    <div class="user-box">
                        <label>Short_description</label>
                        <textarea ngModel="{{item['excerpt']}}" name="excerpt" required="" rows="4"
                            cols="35"></textarea>
                    </div>

                    <div class="user-box">
                        <label>Description</label>
                        <textarea ngModel="{{item['body']}}" name="body" required="" rows="4" cols="35"></textarea>
                    </div>

                    <label>Gallery Image</label>
                    <div class="user-box">
                        <input type="file" (change)="onSelectFile($event)">
                        <!-- <input type="hidden" name="thumbnail"  [(ngModel)]="item['thumbnail']"  > -->
                    </div>

                    <label>Updated Date</label>
                    <div class="user-box">
                        <input type="date" ngModel name="updated_at" required="">
                    </div>

                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">I agree with terms and conditions</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">I want to receive the newsletter</label>
                    </div>
                    <input class="button" type="submit" value="submit" />
                </form>

            </div>
        </div>
    </div>
</div>