<span *ngFor="let item of data">
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              <div class="tab-pane active"><img src="../../../assets/images/{{item.thumbnail}}" /></div>
            </div>

          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{item['title']}}</h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <h5 class="sizes">Short Desription:-</h5>
            <p class="product-short-description">{{item['excerpt']}}</p>
            <h5 class="sizes">Desciption:-</h5>
            <p class="product-description">{{item['body']}}</p>
            <div class="action">
              <button class="add-to-cart btn btn-primary" type="button">add to cart</button>
              <button class="like btn btn-danger" type="button"><span class="fa fa-heart"></span></button>
            </div>

            <div>
              <h5>Category :-</h5>
            </div>

            <div>
              <h5>Auther :- firstname lastname</h5>
            </div>
            <div>
              <span>Comments = </span><span>comments-Counts</span>
            </div>
            <form method="post">
              <label>Comment Here</label>
              <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
              <input type="submit" name="submit" value="Comment" style="background-color:lightblue;" />
            </form>
            <div>

              <span>Comments = </span><span>Comments-Description</span><br>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</span>