<div class="login-box">
    <h2>Gallery form</h2>
    <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)" *ngIf="arr">


        <label>Album Category </label>
        <div class="user-box">
            <select ngModel name="album_id" id="album">
                <option></option>
                <option *ngFor="let item of data" value="{{item['id']}}">{{item['name']}}</option>
            </select>
        </div><br>


        <label>Add Image </label>
        <div class="user-box">
            <input type="file" class="form-control"   (change)="onSelectFile($event)" multiple />
            <!-- <input type="hidden" name="thumbnail" [(ngModel)]="arr" >  -->
        </div>
<!--         
        <label>Add Image </label>
        <div class="user-box">
            <input type="file" ngModel class="form-control" name="image" multiple />
        </div> -->



        <label>Created Date</label>
        <div class="user-box">
            <input type="date" ngModel name="created_at" required="">
        </div>

        <button class="button" type="submit">Submit </button>

    </form>
</div>

