
<div class="slider">
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor = "let item of data">
          <img src="../../assets/images/{{item['thumbnail']}}" alt="">
        </ng-template>
    </owl-carousel-o>
</div>
  
  
