
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">user_id</th>
        <th scope="col">category_id</th>
        <th scope="col">slug</th>
        <th scope="col">title</th>
        <th scope="col">status</th>
        <th scope="col">thumbnail</th>
        <th scope="col">excerpt</th>
        <th scope="col">body</th>
        <th scope="col">created_at</th>
        <th scope="col">updated_at</th>
        <th scope="col">published_at</th>
        <th scope="col">Add</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td >{{item['id']}}</td>
        <td >{{item['user_id']}}</td>
        <td >{{item['category_id']}}</td>
        <td >{{item['slug']}}</td>
        <td >{{item['title']}}</td>
        <td >{{item['status']}}</td>
        <td ><img style="height: 100px; width: 100px;" src="../../../assets/images/{{item['thumbnail']}}" alt=""></td>
        <td >{{item['excerpt']}}</td>
        <td >{{item['body']}}</td>
        <td >{{item['created_at']}}</td>
        <td >{{item['updated_at']}}</td>
        <td >{{item['published_at']}}</td>
        <td><button class="btn btn-primary" routerLink="../blogAdd">Add</button></td>
        <td><button class="btn btn-success" routerLink="../blogupdate/{{item['id']}}">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteData(item.id)" >Delete</button></td>
      </tr>
    
    </tbody>
  </table>