<section class="instagram-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="title-wrapper">
                  <h3 class="title">#Instagram Feed</h3>
              </div>
          </div>
      </div>
  </div>

      <div class="container-fluid">
          <div class="instagram-slider">
          <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide><img src="/assets/images/insta-img-1.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-2.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-3.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-4.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-1.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-2.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-3.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-4.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-1.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-2.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-3.jpg" alt="" class="img-fluid"></ng-template>  
                  <ng-template carouselSlide><img src="/assets/images/insta-img-4.jpg" alt="" class="img-fluid"></ng-template>  
          </owl-carousel-o>
          </div>
      </div>
</section>