<!-- Slider : Start -->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="main_slider_content">
      <h3>Pure CBD</h3>
      <h3>Pure Results</h3>
    </div>
    <img src="../../assets/images/banner-img.jpg" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <div class="main_slider_content">
      <h3>Pure CBD</h3>
      <h3>Pure Results</h3>
    </div>
    <img src="../../assets/images/banner-img.jpg" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <div class="main_slider_content">
      <h3>Pure CBD</h3>
      <h3>Pure Results</h3>
    </div>
    <img src="../../assets/images/banner-img.jpg" alt="">
  </ng-template>
</owl-carousel-o>



<!-- Slider : End -->