<div class="form_wrapper  rounded shadow ">
  <div class="title_container">
    <h1>Calender</h1>
  </div>
  <h2 routerLink="eventRegistration">Add Event
    <img src="../../assets/images/schedule.png" alt="" style="height: 30px;" />
  </h2>
  <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>