<app-slider></app-slider>

<section class="middle-container">

<app-category></app-category>
<app-productlist></app-productlist>
<app-bloglist></app-bloglist>
<app-instagram></app-instagram>
</section>
