<!-- Featured Products : Start -->
<section class="featured-products-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrapper">
            <h3>Featured Products</h3>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-3" *ngFor="let item of dataCatid">
          <a routerLink="/productdetails/{{item['id']}}" >
            <div class="feature-product-box" >
            <figure class="feature-product-img">
              <img src="../assets/{{item['image']}}" class="img-fluid" alt="" />
            </figure>
            <div class="feature-text">
              <h3>{{item['name']}}</h3>
              <span>{{item['price']}}</span>
            </div>
          </div>
          </a>
        </div>
   
      </div>
    </div>
  </section>
  <!-- Featured Products : End -->
