<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item['id']}}</td>
        <td>{{item['firstname']}}</td>
        <td>{{item['lastname']}}</td>
        <td>{{item['email']}}</td>
        <td>{{item['gender']}}</td>
        <td><button class="btn btn-success" routerLink="/userUpdate/{{item['id']}}">Edit</button></td>

        
      </tr>
    
    </tbody>
  </table>