<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">User_id</th>
            <th scope="col">CreatedDate</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item['id']}}</td>
            <td>{{item['name']}}</td>
            <td>{{item['user_id']}}</td>
            <td>{{item['created_at']}}</td>
            <td><button class="btn btn-success" routerLink="../editAlbum/{{item['id']}}">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteData(item.id)" >Delete</button></td>
        </tr>

    </tbody>
</table>