<div class="form_wrapper  rounded shadow ">
    <div class="form_container">
        <div class="title_container">
            <h2>Add Event Form</h2>
        </div>

        <div class="row clearfix">
            <div class="">
                <form #simpleForm="ngForm"  (ngSubmit)="getDetails(simpleForm.value)" >


                    <div class="form-group">
                        <label for="title">Title</label>
                        <input ngModel type="text" class="form-control" #title="ngModel" id="title" name="title" placeholder="Enter email">
                        <span *ngIf="title.invalid && title.touched" class ="error">Title is required</span>
                         
                    </div>
               

                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea id="description" name="description" ngModel  rows="4" cols="38"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="createdat">StartDate</label>
                        <input ngModel type="date" class="form-control" #createdat="ngModel" name="createdat">
                        <span *ngIf="createdat.invalid && createdat.touched" class ="error">Date is required</span>

                    </div>

                    <div class="form-group">
                        <label for="endedat">EndDate</label>
                        <input ngModel type="date" class="form-control" #endedat="ngModel" name="endedat">
                        <span *ngIf="endedat.invalid && endedat.touched" class ="error">Date is required</span>

                    </div><br><br>

                    <input class="button" type="submit" [disabled]="simpleForm.invalid" value="AddEvent" />
                </form>
            </div>
        </div>
    </div>
</div>